@font-face {
  font-family: "Random Regular";
  src: url("/fonts/Random-Regular.woff2") format("woff2");
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

canvas {
  display: block;
  width: 100vw;
}

td {
  border: 1px solid white;
}
